<div class="example-container">
  <mat-toolbar class="example-toolbar navegador" >
    <button mat-icon-button (click)="sidenav.toggle()">
      <mat-icon *ngIf="!sidenav.opened">menu</mat-icon>
      <mat-icon *ngIf="sidenav.opened">close</mat-icon>
    </button>

    <h1 class="titulopv">PUNTO DE VENTA</h1>

    <span class="example-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item >
        <mat-icon>location_city</mat-icon>
        <span>{{nomCia}}</span>
      </button>
      <button mat-menu-item >
        <mat-icon>face</mat-icon>
        <span>{{nombre}}</span>
      </button>

      <mat-divider></mat-divider>
      <button mat-menu-item routerLink="perfil">
        <mat-icon>account_box</mat-icon>
        <span>Mi Perfil</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="salir()" >
        <mat-icon>exit_to_app</mat-icon>
        <span>Cerrar Sesión</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #sidenav style="width: 200px" mode="push">
      <app-vendedor></app-vendedor>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="sidenav.toggle()" routerLink="perfil" style="cursor: pointer">
        <mat-icon>account_box</mat-icon>
        <span>Mi Perfil</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="sidenav.toggle()" routerLink="nuevo" style="cursor: pointer">
        <mat-icon>add_shopping_cart</mat-icon>
        <span>Nuevo Pedido</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="sidenav.toggle()" routerLink="lista" style="cursor: pointer">
        <mat-icon>view_carousel</mat-icon>
        <span>Consulta Ped.</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="sidenav.toggle()" routerLink="arccmc" style="cursor: pointer">
        <mat-icon>perm_identity</mat-icon>
        <span>Cliente</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="sidenav.toggle()" routerLink="/consulta-especial" style="cursor: pointer">
        <mat-icon>insert_drive_file</mat-icon>
        <span>Registrar E.</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="sidenav.toggle()" routerLink="arcgtc" style="cursor: pointer">
        <mat-icon>price_change</mat-icon>
        <span>Tipo Cambio</span>
      </button>
      <mat-divider></mat-divider>
      <button mat-menu-item (click)="sidenav.toggle()" routerLink="arfafe" style="cursor: pointer">
        <mat-icon>view_carousel</mat-icon>
        <span>Consultar F-B</span>
      </button>

    </mat-sidenav>

    <mat-sidenav-content>

      <router-outlet></router-outlet>

    </mat-sidenav-content>

  </mat-sidenav-container>

</div>

