<!-- html new factura -->
<div class="container-md container-lg container-xl mt-md-5 mb-md-5 border rounded">
    <mat-label>fecha: </mat-label>
    <span> {{ detalle.fecha | date }} </span>
    <p class="text-center">Detalle de {{ tipoComprobante }} - <b>{{ detalle.arfafePK.noFactu }}</b></p>

    <hr class="mb-3">
    <form class="w-100">
        <div class="row">
            <div class="col-sm m-3" style="border-right: 1px solid lightgray;">
                <div class="row">
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline" floatLabel="always">
                            <mat-label>RUC</mat-label>
                            <input  matInput name="ruc" [(ngModel)]="detalle.no_CLIENTE">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-8">
                        <mat-form-field appearance="outline" floatLabel="always">
                            <mat-label>Razón Social</mat-label>
                            <input matInput name="racsoc" [(ngModel)]="detalle.nbr_CLIENTE">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <mat-form-field appearance="outline" floatLabel="always" class="w-100">
                            <mat-label>Dirección</mat-label>
                            <input matInput placeholder="Placeholder" name="direc"
                            [(ngModel)]="detalle.direccion">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Ubigeo</mat-label>
                            <input disabled="true" matInput placeholder="Placeholder" name="ubigeo"
                            [(ngModel)]="detalle.codi_DEPA + detalle.codi_PROV + detalle.codi_DIST">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Vendedor</mat-label>
                            <input matInput placeholder="Placeholder" name="vendor"
                            [(ngModel)]="detalle.cuser">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-5">
                        <div class="row">
                            <div class="col-sm-4">
                                <mat-form-field appearance="outline" floatLabel="always">
                                    <mat-label>Tipo</mat-label>
                                    <input matInput placeholder="Placeholder" name="tipoDoc"
                                    [(ngModel)]="detalle.tipo_DOC_CLI">
                                </mat-form-field>
                            </div>
                            <div class="col-sm-8">
                                <mat-form-field appearance="outline" floatLabel="always">
                                    <mat-label>Numero</mat-label>
                                    <input matInput placeholder="Placeholder" name="numCli"
                                    [(ngModel)]="detalle.num_DOC_CLI">
                                </mat-form-field>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 m-3 position-relative">
                <div class="row">
                    <div class="col-sm-8">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>L.Precios</mat-label>
                            <input matInput name="Nom_precio" [(ngModel)]="arfatp.descripcion">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>T.C.</mat-label>
                            <input disabled="true" name="TC" matInput placeholder="Cambio" [(ngModel)]="detalle.tipo_CAMBIO">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 col-lg-9">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>F.Pago</mat-label>
                            <input matInput name="Forma_pago" [(ngModel)]="arfafp.descripcion">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4 col-lg-3"> 
                        <button type="button" class="btn btn-primary" (click)="toogleDivCuotas()">
                            <abbr title="Cuotas">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">payment</mat-icon>
                            </abbr>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <!-- <div class="col-sm">
                        <mat-form-field appearance="outline">
                            <mat-label>fecha</mat-label>
                            <input matInput type="date" name="fecha" 
                            [(ngModel)]="detalle.fecha">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>

                    </div> -->
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline">
                            <mat-label>Centro</mat-label>
                            <input matInput name="centroEmi" [(ngModel)]="detalle.centro">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-8">
                        <mat-form-field appearance="outline">
                            <mat-label>Nombre Centro</mat-label>
                            <input matInput name="nomCentroEmi" [(ngModel)]="nomCentro">
                        </mat-form-field>
                    </div>
                </div>
                <div *ngIf="btnFp" id="formCuotas" class="position-absolute top-0 start-0 pt-2">
                    <p class="text-center fw-bold">Cuotas</p>
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="text-center p-fp">Cuota</th>
                                <th class="text-center p-fp">Fecha Vto</th>
                                <th class="text-center p-fp">Monto</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let n of arfcree.arfcredList">
                                <td class="text-center p-fp">{{ n.arfcredPk.noCredito }}</td>
                                <td class="text-center p-fp">{{ n.fechaPago }}</td>
                                <td class="text-center p-fp">{{ n.monto | number : '1.2-2' }}</td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="d-flex justify-content-center">
                        <button type="button" class="btn btn-light btn-toggle p-fp" (click)="toogleDivCuotas()">
                            Cerrar
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <br>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th class="text-center d-sm-none d-xl-table-cell" scope="col">Item</th>
                        <th class="text-center" scope="col">Codigo</th>
                        <th class="text-center" scope="col">Medida</th>
                        <th class="text-center" scope="col">Descripcion</th>
                        <th class="text-center" scope="col">tipoAfec</th>
                        <th class="text-center" scope="col">cant</th>
                        <th class="text-center" scope="col">P.U.</th>
                        <th class="text-center" scope="col">desc</th>
                        <th class="text-center" scope="col">icbCop</th>
                        <th class="text-center" scope="col">IGV</th>
                        <th class="text-center" scope="col">Total</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor ="let data of detalle.arfaflList">
                        <td class="text-end d-sm-none d-xl-table-cell">{{ data.arfaflPK.consecutivo }}</td>
                        <td>{{ data.no_ARTI }}</td>
                        <td>{{ uniMed[data.arfaflPK.consecutivo] }}</td>
                        <td>{{ data.descripcion }}</td>
                        <td class="text-end">{{ data.tipo_AFECTACION }}</td>
                        <td class="text-end">{{ data.cantidad_FACT }}</td>
                        <td class="text-end">{{ data.precio_UNIT }}</td>
                        <td class="text-end">{{ data.p_DSCTO3 }}%</td>
                        <td class="text-end">0</td>
                        <td class="text-end">{{ data.imp_IGV }}</td>
                        <td class="text-end">{{ data.total | number : '1.2-2' }}</td>
                    </tr>
                </tbody>
                
                <tbody>
                    <tr>
                        <td class="text-end d-sm-none d-xl-table-cell"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td class="text-end"></td>
                        <td class="text-end"></td>
                        <td class="text-end"></td>
                        <td class="text-end"></td>
                        <td class="text-end"></td>
                        <td class="text-end"><b>Total:</b></td>
                        <td class="text-end">{{ detalle.total | number : '1.2-2' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>

    </form>

    <div class="row mt-5">
        <div class="col-sm d-flex justify-content-center">
        </div>
        <div class="col-sm d-flex justify-content-center">
        </div>
        <div class="col-sm d-flex justify-content-center">
            <button mat-raised-button color="primary" (click)="envioDataFE()">Reenvio a Sunat</button>
        </div>
        <div class="col-sm d-flex justify-content-center">
            <button mat-raised-button color="primary" (click)="report()">imprimir</button>
        </div>
    </div>
</div>
