<div class="row">
    <div class="col-12">
        <div class="login-box card">
            <div class="card-body">
                <form class="login100-form validate-form flex-sb flex-w" [formGroup]="form" #frmLog="ngForm"
                    (ngSubmit)="obtenerVendedor()">
                    <h2 class="box-title text-center text-info"><strong>LOGIN DE PUNTO DE VENTA</strong></h2>
                    <hr>
                    <!--
                    <div class="form-group col-xs-12">
                      <mat-form-field class="form-control" >
                        <mat-select placeholder="Compañias" [(value)]="companySeleccionada" formControlName="cia" >
                          <mat-option *ngFor="let c of companys" [value]="c">
                            {{c.nombre}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    -->
                    <div class="form-group col-xs-12">
                        <label for="exampleInputuname">Usuario</label>
                        <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1"><i class="ti-user"></i></span>
                          <input class="form-control" type="text" required placeholder="Ingresar Usuario" formControlName="codigo"/>
                        </div>
                    </div>

                    <div class="form-group col-xs-12">
                        <label>Contraseña</label>
                        <div class="input-group mb-3">
                          <span class="input-group-text" id="basic-addon1"><i class="ti-lock"></i></span>
                          <input class="form-control" type="password" required placeholder="Ingresar Contraseña"formControlName="pass"/>
                        </div>
                    </div>

                    <div class="container">
                        <button type="submit" style="width: 100%;" [disabled]="frmLog.invalid" class="btn btn-outline-dark btn-lg">INGRESAR</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
