<div class="container-fluid">
  <!--TITULO-->
  <div class="row page-titles">
    <div class="col-md-5 align-self-center">
      <h3 class="text-themecolor font-weight-bold">Tipo de Cambio</h3>
    </div>
    <div class="col-md-7 align-self-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/pedido">Home</a></li>
        <li class="breadcrumb-item active">Nuevo Tipo de cambio</li>
      </ol>
    </div>
    <div>
      <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
    </div>
  </div>
  <!--FIN DE TITUTLO-->
  <!--CONTENEDODR-->
  <div class="container border rounded p-5">
    <div class="row">

        <div class="col-sm-12">
          <div class="row">
              <!--FECHA-->
              <div class="col-sm-8">
                <mat-form-field appearance="outline" class="w-100">
                  <mat-label>Fecha</mat-label>
                  <input matInput [matDatepicker]="picker1" [(ngModel)]="fechaf">
                  <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                  <mat-datepicker #picker1></mat-datepicker>
                </mat-form-field>
              </div>
              <!--FIN-->
              <!--BOTON BUSCAR-->
              <div class="col-sm-4">
                <div class="example-button-container">
                  <button mat-fab color="primary" (click)="findTipoCAmbio()" aria-label="Buscar Fecha">
                    <mat-icon>search</mat-icon>
                  </button>
                </div>
              </div>
              <!--FIN-->
          </div>
        </div>
        <!--TABLA-->
        <div class="col-sm-12">
          <div class="row">
            <table mat-table [dataSource]="dataSource">
              <!-- codigo Column -->
              <ng-container matColumnDef="clase">
               <th mat-header-cell *matHeaderCellDef> Clase </th>
               <td mat-cell *matCellDef="let d"> {{d.clase}} </td>
             </ng-container>

             <!-- codigo Column -->
             <ng-container matColumnDef="descripcion">
               <th mat-header-cell *matHeaderCellDef> Descripción </th>
               <td mat-cell *matCellDef="let d"> {{d.descripcion}} </td>
             </ng-container>

              <!-- medida Column -->
              <ng-container matColumnDef="monto">
               <th mat-header-cell *matHeaderCellDef> Monto </th>
               <td mat-cell *matCellDef="let d"> {{d.monto}} </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
           </table>
          </div>
        </div>
        <!--FIN-->
    </div>
  </div>
  <!--CONTENEDOR-->
</div>
<!--FIN-->
