<div class="card-body">
  <div class="message-box contact-box">
    <div class="message-widget contact-widget">
      <h4 class="card-title m-t-1 titulo">{{nomCia}}</h4>
      <h6 class="card-subtitle sharedUsu"><mat-icon aria-hidden="false" aria-label="Example home icon">face</mat-icon> {{nombre}}</h6>
      <p class="nCia">Centro : {{centro}}</p>
      <p class="nCia">Código Empleado : {{codEmp}}</p>
      <p class="nCia">Usuario : {{usuario}}</p>
      <p class="nCia">Código : {{cod}}</p>
    </div>
  </div>
</div>
