<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-md-5 align-self-center">
      <h3 class="text-themecolor font-weight-bold">Pedido</h3>
    </div>
    <div class="col-md-7 align-self-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/pedido">Home</a></li>
        <li class="breadcrumb-item active">Nuevo Pedido</li>
      </ol>
    </div>
    <div>
      <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->

  <!-- NUEVO INTERFAZ -->
  <div class="container-md container-lg container-xl mt-md-5 mb-md-5 border rounded p-md-5">
    <form class="w-100">
        <div class="row">
            <div class="col-sm p-3" style="border-right: 1px solid lightgray;">
                <!--TRANSACCION Y SERIE - CORRELATIVO DE PEDIDO-->
                <div class="row">
                    <!--TRANSACCION-->
                    <div class="col-sm">
                      <mat-form-field class="materialAncho"  appearance="outline">
                        <mat-label>Transacción</mat-label>
                        <mat-select [(ngModel)]="transaccion" name="transacion"  (selectionChange)="findTransaccion($event)">
                          <mat-option *ngFor="let ta of transacciones" [value]="ta">
                            {{ta.codTPed}}-{{ta.descri}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <!--SERRIE Y CORRELATIVO DE PEDIDO-->
                    <div class="col-sm-4">
                      <mat-form-field class="materialAncho" appearance="outline">
                        <mat-label>Nro Pedido</mat-label>
                        <mat-select [(ngModel)]="arfacc" name="food">
                          <mat-option *ngFor="let food of arfaccs" [value]="arfacc">
                            {{food.arfaccPK.serie}}-{{food.consDesde}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                </div>
                <!--FIN-->
                <!--CLIENTE-->
                <div class="row" [formGroup]="groupEmpresa" matAutocompleteOrigin #origin="matAutocompleteOrigin">
                    <!--RUC DE CLIENTE-->
                    <mat-form-field class="col-sm-3" appearance="outline" floatLabel="always">
                        <mat-label>CODIGO</mat-label>
                        <input matInput
                        formControlName="codCli"
                        placeholder="Buscar RUC/DNI"
                        [matAutocomplete]="auto"
                        [matAutocompleteConnectedTo]="origin">
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="setFormData($event)">
                            <mat-option *ngFor="let option of factuOptions | async" [value]="option">
                                <div style="display:flex;flex-wrap: nowrap;align-items:center;justify-content:center;margin: auto;">
                                    <span style="flex-grow: 1;flex: 1 1 33%;">{{option.objIdArc.id}}-{{option.nombre}}</span>
                                </div>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <!--RAZON SOCIAL DE CLIENTE-->
                    <mat-form-field class="col-sm-7" appearance="outline" floatLabel="always" >
                      <mat-label>RAZÓN SOCIAL / NOMBRE</mat-label>
                      <input matInput
                             formControlName="racSoc"
                             placeholder="Buscar Razón Social o Nombre y Apellidos"
                             [matAutocompleteConnectedTo]="origin"
                             [matAutocomplete]="auto">
                      <mat-autocomplete #auto2="matAutocomplete" (optionSelected)="seleccionarClienteXdescrip($event)">
                        <mat-option *ngFor="let option of arccmcObservable | async" [value]="option">
                          <div style="display:flex;flex-wrap: nowrap;align-items:center;justify-content:center;margin: auto;">
                            <span style="flex-grow: 1;flex: 1 1 33%;">{{option.nombre}}</span>
                          </div>
                        </mat-option>
                      </mat-autocomplete>
                    </mat-form-field>
                   <!--routerLink="/pedido/arccmc/new"-->
                    <div class="col-sm-1">
                        <button mat-raised-button color="primary" (click)="ajusteCliente()" style="cursor: pointer">
                          <mat-icon>person_add</mat-icon>
                        </button>
                    </div>
                </div>
                <div class="row">
                    <!--DIRECCIONES DEL CLIENTE-->
                    <div class="col-sm-10">
                      <mat-form-field class="materialAncho"  appearance="outline">
                        <mat-label>Direcciónes</mat-label>
                        <mat-select name="direccion" (selectionChange)="getDirecciones($event)">
                          <mat-option *ngFor="let d of arcctdas" [value]="d">
                            {{d.nombre}}-{{d.direccion}}
                          </mat-option>
                        </mat-select>
                      </mat-form-field>
                    </div>
                    <!--UBIGEO-->
                    <div class="col-sm-2">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Ubigeo</mat-label>
                            <input disabled="true" matInput placeholder="Ubigeo" [value]="ubigeo">
                        </mat-form-field>
                    </div>
                </div>
                <!-- EMAIL DE CLIENTE -->
                <div class="row">
                  <div class="col-sm-12">
                    <mat-form-field appearance="outline" class="w-100">
                        <mat-label>Email</mat-label>
                        <input type="email" matInput placeholder="Email" [value]="emailCliente" />
                    </mat-form-field>
                  </div>
                </div>

                <!--FIN CLIENTES-->

            </div>
            <div class="col-sm-4 p-3">

                <div class="row">
                    <div class="col-sm">
                        <!--LISTA DE PRECIO-->
                        <mat-form-field class="materialAncho"  appearance="outline">
                          <mat-label>L.Precio</mat-label>
                          <mat-select [(ngModel)]="arfatp" name="lista_precio" (selectionChange)="cambiarMoneda(arfatp)">
                            <mat-option *ngFor="let z of arfatps" [value]="z">
                              {{z.idArfa.tipo}}-{{z.descripcion}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                    </div>

                </div>

                <div class="row">
                    <div class="col-sm">
                        <!--FORMA DE PAGO-->
                        <mat-form-field class="materialAncho"  appearance="outline">
                          <mat-label>F.Pago</mat-label>
                          <mat-select [(ngModel)]="tapfopa" name="forma_pago">
                            <mat-option *ngFor="let z of tapfopas" [value]="z">
                              {{z.descripcion}}
                            </mat-option>
                          </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                      <!--TIPO DE CAMBIO-->
                      <mat-form-field appearance="outline" class="w-100">
                          <mat-label>T.C</mat-label>
                          <input disabled="true" matInput placeholder="Cambio" [value]="tipocambio" >
                      </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <!--FECHA-->
                    <div class="col-sm-6">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Fecha</mat-label>
                            <input matInput [matDatepicker]="picker1" [formControl]="fechaP">
                            <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                            <mat-datepicker #picker1></mat-datepicker>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                    <!--MONEDA-->
                    <mat-form-field appearance="outline" class="w-100">
                          <mat-label>Moneda</mat-label>
                          <mat-select [(ngModel)]="arcgmo" name="moneda" (selectionChange)="cambiarMonedaDetPedido(arcgmo)">
                            <mat-option *ngFor="let m of arcgmos" [value]="m">
                              {{m.simbolo}}-{{m.descripcion}}
                            </mat-option>
                          </mat-select>
                      </mat-form-field>
                    </div>
                </div>

            </div>
        </div>
        <!--TIPO DE ITEM-->
        <div class="row">
            <div class="col-md-12">
              <mat-tab-group animationDuration="0ms">

                <mat-tab label="Libre" (click)="saberItem('L')">
                  <!--AÑADIR ITEMS LIBRE-->
                    <div class="row mt-2 w-100">
                      <div class="col-md-12">
                          <form [formGroup]="groupArticulo" #frmItemLibre="ngForm" (ngSubmit)="addItem()">
                            <div class="row">
                              <!--CODIGO DE ITEM-->
                              <div class="col-sm-2">
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100">
                                  <mat-label>Codigo</mat-label>
                                  <input matInput type="text" required placeholder="Ingrese Cod" formControlName="codProd" name="codProd">
                                </mat-form-field>
                              </div>
                              <!--UM DEL ITEM-->
                              <div class="col-sm-3 col-md-2">
                                <mat-form-field appearance="outline" class="w-100">
                                  <mat-label>U.M</mat-label>
                                  <mat-select required formControlName="umProd" name="moneda">
                                    <mat-option *ngFor="let m of arinums" [value]="m.arinumPK.unidad">
                                      {{m.nom}}
                                    </mat-option>
                                  </mat-select>
                                </mat-form-field>

                              </div>
                              <!--DESCRIPCION DEL ITEM-->
                              <div class="col-sm-7 col-md-4">
                                <mat-form-field appearance="outline" floatLabel="always" class="col-sm-12">
                                  <mat-label>Descripción</mat-label>
                                  <input matInput placeholder="Ingrese descripción" required formControlName="desProd" name="desProd">
                                </mat-form-field>
                              </div>
                              <!--CANTIDAD DEL ITEM-->
                              <div class="col-sm-2 col-md-1">
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100">
                                  <mat-label>Cant</mat-label>
                                  <input matInput type="number" required formControlName="cantProd" name="cantProd">
                                </mat-form-field>
                              </div>
                              <!--PRECIO DEL ITEM-->
                              <div class="col-sm-2">
                                <mat-form-field appearance="outline" floatLabel="always" class="w-100">
                                  <mat-label>Precio</mat-label>
                                  <input matInput type="number" required formControlName="precProd" name="precProd">
                                </mat-form-field>
                              </div>
                              <!-- BOTON PARA INGRESAR UN NUEVO ITEMS LIBRE -->
                              <div class="col-sm-1 p-1">
                                <button mat-raised-button color="primary" type="submit" [disabled]="frmItemLibre.invalid">
                                  <mat-icon aria-hidden="false" aria-label="Example home icon">add_shopping_cart</mat-icon>
                                </button>
                              </div>
                            </div>
                          </form>
                    </div>
                    </div>
                  <!--FIN AÑADIR ITEMS-->
                </mat-tab>
                <mat-tab label="Bien" (click)="saberItem('B')">
                  <!--AÑADIR ITEMS-->
                  <div class="row">
                    <div class="col-sm-12">
                      <div class="row">
                        <!--DESCRIPCION DEL ITEM-->
                        <div class="col-sm-6">
                            <mat-form-field appearance="outline" floatLabel="always" class="col-sm-12">
                              <mat-label>Descripción</mat-label>
                              <input matInput type="text" [(ngModel)]="descBien"  placeholder="Ingrese nombre articulo" name="bien" >
                            </mat-form-field>
                        </div>
                        <div class="example-button-container">
                          <button mat-fab color="primary" (click)="openDialogoItem()" aria-label="Buscar Item">
                            <mat-icon>search</mat-icon>
                          </button>
                        </div>
                    </div>
                  </div>
                  </div>
                  <!--FIN AÑADIR ITEMS-->
                </mat-tab>
              </mat-tab-group>
            </div>
        </div>
        <!--FIN TIPO DE ITEM-->

         <!--DETALLE (TABLA) DE PEDIDO-->
        <div class="row">
          <div class="col-sm-12">
              <!--TABLA-->
              <div class="mat-elevation-z8">
                <table mat-table [dataSource]="dataSource">
                   <!-- codigo Column -->
                   <ng-container matColumnDef="tipo">
                    <th mat-header-cell *matHeaderCellDef> Tipo </th>
                    <td mat-cell *matCellDef="let d"> {{d.tipo}} </td>
                  </ng-container>

                  <!-- codigo Column -->
                  <ng-container matColumnDef="codigo">
                    <th mat-header-cell *matHeaderCellDef> Codigo </th>
                    <td mat-cell *matCellDef="let d"> {{d.codigo}} </td>
                  </ng-container>

                   <!-- medida Column -->
                   <ng-container matColumnDef="medida" class="mr-3">
                    <th mat-header-cell *matHeaderCellDef> UM </th>
                    <td mat-cell *matCellDef="let d"> {{d.medida}} </td>

                  </ng-container>

                  <!-- descripcion Column -->
                  <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef> Descripción </th>
                    <td mat-cell *matCellDef="let d"> {{d.descripcion}} </td>
                  </ng-container>

                  <!-- cantidad Column -->
                  <ng-container matColumnDef="cantidad">
                    <th mat-header-cell *matHeaderCellDef> Cantidad </th>
                    <td mat-cell *matCellDef="let d">
                      <input type="number" style="width: 60%;" (keyup)="calcularSuma($event,d)" minlength="1" min="1" value={{d.cantidad}} />
                    </td>
                  </ng-container>

                  <!-- precio Column -->
                  <ng-container matColumnDef="precio">
                    <th mat-header-cell *matHeaderCellDef>P.U</th>
                    <td mat-cell *matCellDef="let d"> {{d.precio | number : '1.4-4'}} </td>
                  </ng-container>

                  <!-- descuento Column -->
                  <ng-container class="text-center" matColumnDef="dcto">
                    <th class="text-center" mat-header-cell *matHeaderCellDef> %Dcto </th>
                    <td class="text-center" mat-cell *matCellDef="let d"> 0.00 </td>
                  </ng-container>

                  <!-- igv Column -->
                  <ng-container matColumnDef="igv">
                    <th mat-header-cell *matHeaderCellDef> IGV </th>
                    <td mat-cell *matCellDef="let d"> {{d.igv | number : '1.4-4'}} </td>
                  </ng-container>

                  <!-- total Column -->
                  <ng-container class="text-right" matColumnDef="total">
                    <th class="text-right" mat-header-cell *matHeaderCellDef> Total </th>
                    <td class="text-right" mat-cell *matCellDef="let d"> {{d.total | number : '1.2-2'}} </td>
                  </ng-container>

                  <!-- eliminar Column -->
                  <ng-container matColumnDef="eliminar">
                    <mat-header-cell *matHeaderCellDef></mat-header-cell>
                    <button mat-icon-button color="accent" *matCellDef="let d" (click)="eliminarArticulo(d)">
                      <mat-icon>delete</mat-icon>
                    </button>
                  </ng-container>

                  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
              </div>
              <!--FIN TABLA-->
          </div>
        </div>
        <!--FIN DE DETALLE DE PEDIDO-->
        <br>
        <!--TOTALES-->
        <mat-card>
            <button class="btn btn-outline-primary btn-lg btn-block" (click)="crearBoleta()">BOLETA {{totalGeneral | number : '1.2-2'}}</button>
            <button class="btn btn-outline-primary btn-lg btn-block" (click)="crearFactura()">FACTURA {{totalGeneral | number : '1.2-2'}}</button>
            <button class="btn btn-outline-primary btn-lg btn-block" (click)="crearCotizacion()">COTIZACIÓN {{totalGeneral | number : '1.2-2'}}</button>
        </mat-card>
        <!--FIN DE TOTALES-->
    </form>

</div>

  <!-- FIN ========== -->



