<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
  <!-- ============================================================== -->
  <!-- Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->
  <div class="row page-titles">
    <div class="col-md-5 align-self-center">
      <h3 class="text-themecolor font-weight-bold">Creando Pedido</h3>
    </div>
    <div class="col-md-7 align-self-center">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a routerLink="/pedido">Home</a></li>
        <li class="breadcrumb-item active">Crear Pedido</li>
      </ol>
    </div>
    <div>
      <button class="right-side-toggle waves-effect waves-light btn-inverse btn btn-circle btn-sm pull-right m-l-10"><i class="ti-settings text-white"></i></button>
    </div>
  </div>
  <!-- ============================================================== -->
  <!-- End Bread crumb and right sidebar toggle -->
  <!-- ============================================================== -->

  <!-- NUEVO INTERFAZ -->
  <div class="container mt-5 mb-5 border rounded p-5">

    <hr class="mb-5">

    <form class="w-100">
        <div class="row">
            <div class="col-sm p-3" style="border-right: 1px solid lightgray;">
                <div class="row" [formGroup]="groupEmpresa" matAutocompleteOrigin #origin="matAutocompleteOrigin">
                    <mat-form-field appearance="outline" floatLabel="always" class="col-sm-4">
                        <mat-label>RUC</mat-label>
                        <input  matInput
                        formControlName="ruc"
                        [matAutocomplete]="auto"

                        [matAutocompleteConnectedTo]="origin">
                        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="setFormData($event)">
                            <mat-option *ngFor="let option of factuOptions | async" [value]="option">
                                <div style="display:flex;flex-wrap: nowrap;align-items:center;justify-content:center;margin: auto;">
                                    <span style="flex-grow: 1;flex: 1 1 33%;">{{option.ruc | titlecase}}  -  {{option.nombre}}</span>
                                  </div>
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                    <mat-form-field appearance="outline" floatLabel="always" class="col-sm">
                        <mat-label>Razón Social</mat-label>
                        <input matInput
                        formControlName="racSoc"
                        [matAutocomplete]="auto"
                        [matAutocompleteConnectedTo]="origin">
                    </mat-form-field>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Dirección</mat-label>
                            <input disabled="true" matInput placeholder="Placeholder" value="Direccion">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Ubigeo</mat-label>
                            <input disabled="true" matInput placeholder="Placeholder" value="Ubigeo">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Vendedor</mat-label>
                            <input matInput placeholder="Placeholder" value="Nombre vendedor">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <mat-form-field appearance="outline" floatLabel="always" class="col-sm-4">
                                <mat-label>Tipo</mat-label>
                                <input matInput placeholder="Placeholder" value="Tipo">
                            </mat-form-field>
                            <mat-form-field appearance="outline" floatLabel="always" class="col-sm-8">
                                <mat-label>Numero</mat-label>
                                <input matInput placeholder="Placeholder" value="Num">
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class="row" [formGroup]="groupArticulo">
                    <div class="col-sm-2">
                        <mat-form-field appearance="outline" floatLabel="always" class="w-100">
                            <mat-label>Codigo</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="codProd" name="codProd">
                        </mat-form-field>
                    </div>
                    <div class="col-sm">
                        <mat-form-field appearance="outline" floatLabel="always" class="w-100">
                            <mat-label>Descripcion</mat-label>
                            <input matInput placeholder="Placeholder" formControlName="desProd" name="desProd">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-2">
                        <mat-form-field appearance="outline" floatLabel="always" class="w-100">
                            <mat-label>Cant</mat-label>
                            <input matInput type="number" formControlName="cantProd" name="cantProd">
                        </mat-form-field>
                    </div>
                  <!--
                    <div class="col-sm-2 p-1">
                        <button mat-raised-button color="primary" type="button" (click)="addElement()">Agregar</button>
                    </div>
                  -->
                </div>
            </div>
            <div class="col-sm-4 p-3">
                <div class="row">
                    <div class="col-sm">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>L.Precios</mat-label>
                            <input matInput value="Nom_precio">
                        </mat-form-field>
                    </div>
                    <div class="col-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>T.C.</mat-label>
                            <input disabled="true" matInput placeholder="Cambio" value="0.00">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>F.Pago</mat-label>
                            <input matInput value="Descrip_Pago">
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm">
                        <mat-form-field appearance="outline">
                            <mat-label>Choose a date</mat-label>
                            <input matInput [matDatepicker]="picker">
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                            <mat-datepicker #picker></mat-datepicker>
                        </mat-form-field>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Centro</mat-label>
                            <input matInput value="Nro">
                        </mat-form-field>
                    </div>
                    <div class="col-sm">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label>Nombre Centro</mat-label>
                            <input matInput value="Non_centro">
                        </mat-form-field>
                    </div>
                </div>
            </div>
        </div>
        <br>

    </form>

</div>
  <!-- FIN ========== -->



